#btnAddFolder {
    border-radius: 8px;
    background-color: orange;
    width: 170px;
    margin-left: 600px;
    padding: 17px;
    cursor: pointer; /*it shows hand icon while  moving cursor over it */
}

#btnAddFolder:hover {
    transform: scale(1.07);
}

#divContainer {
    border: 2px solid black;
    display: flex;  /*to show folders in one line */
    margin-top: 10px;
}

.folder {
    background-color: teal;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: 10px;
}

.folder [action]{
    text-decoration: underline;
    cursor: pointer;
}

div[purpose=name] {
    margin-top: 50px;
    color: white;
}